<html>
<head>
  <title>My Cookbook</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
  rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/style.css') }}"
  rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MyCookBook</a>
      </div>

      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#featured">Featured</a></li>
          <li><a href="/starter">Starter</a></li>
          <li><a href="/meal">Meal</a></li>
          <li><a href="/dessert">Dessert</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}
  <div class="welcome">
    <h1>Welcome to Emma Reavley CookBook</h1>
    <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign
    up today</a></p>
  </div>
 {% endblock %}
 
 <footer class="footer">
    <p>&copy; 2016 - made with Love by E.Reavley || Edinburgh Napier University</p>
 </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src={{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </div>

</body>

</html>
