<html>
<body>
  {% extends "index.html" %}
  {% block content %}
  <header class="mealpage">
    <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
        <div class="intro-text">
          <h2 class="intro-lead-in">Meal time!</h2>
        </div>
      </div>
      </div>
    </div>
  </header>
  <section>
  <div class="col-lg-12 text-center">
    <ul id="item-list" class="col-xs-6 col-md-4">
    {% for food, imgfood in meal.iteritems(): %}
      <li class="portfolio-caption">
        <h4>{{ food }}</h4>
        <img src="{{ url_for('static', filename=imgfood) }}"
        class="img-responsive" />
      </li>
    {% endfor %}
    </ul>
  </div>
  </section>
  </div>

  <style>
  .mealpage {
    background: url(../static/img/header/starter_bg.png);
  }
    #item-list {
      list-style: none;
    }
    #item-list li {
      display: inline-block;
    }
  </style>

  {% endblock %}

</body>
</html>
