<html>
<head>
  <title>My CookBook</title>
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/agency.min.css') }}" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  
  
  <header class="signuppage">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="intro-text">
            <h1 class="intro-lead-in">Welcome to Emma Reavley CookBook</h1>
            <p>Please sign up to enter.</p>
            <p><a class="btn btn-lg btn-success" href="#signinform" role="button">Sign up today</a></p>  
  <section id="signin-form" class="col-lg-12 text-center">
    <form action="{{ url_for('root') }}" method="post" name="signin-form">
      <label for="name" class="sr-only">Name</label>
      <input type="name" name="name" id="name" class="form-control" placeholder="Name" required autofocus>

      <label for="email" class="sr-only">Email address</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required autofocus>

      <label for="Password" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

      <button type="submit" name="submit" id="Submit" class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
  <section>
          </div>
        </div>
      </div>
    </div>
  </header>

  <style>
    .signuppage {
      background: url(../static/img/welcome_bg.png);
    }
  </style>

</body>
</html>
